.calculadora {
    background: rgb(78, 97, 47);
    color: rgb(167, 238, 167);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center ;
}
.calculadora input {
    background: rgb(214, 240, 188);
    border-radius: 8px;
    padding: 8px;
}
#sptotal {
    background: black;
    color: cyan;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}